<template>
    <div v-if="cart">
        <table>
            <tr>
                <th>№</th>
                <th>Блюдо</th>
                <th>Цена</th>
                <th>Кол-во</th>
                <th>Сумма</th>
                <th>Удалить</th>
            </tr>
            <tr v-for="(dish, key, index) in cart.items">
                <td>{{ index + 1 }}</td>
                <td>{{ dish.item.title }}</td>
                <td>{{ dish.item.price }} руб.</td>
                <td>
                    <div class="qty">
                        <a href="#" @click.prevent="decreaseItem(key)">-</a>
                        <span>{{ dish.qty }}</span>
                        <a href="#" @click.prevent="increaseItem(key)">+</a>
                    </div>
                </td>
                <td>{{ parseFloat(dish.price).toFixed(2) }} руб.</td>
                <td>
                    <div class="delete">
                        <a href="#" @click.prevent="deleteItem(key)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr class="total">
                <td colspan="3">Итого:</td>
                <td>{{ cart.total_qty }}</td>
                <td colspan="2">{{ parseFloat(cart.total_price).toFixed(2) }} руб.</td>
            </tr>
        </table>

        <div class="manage">
            <a href="#" @click.prevent="clearCart()" class="clear">Очистить корзину</a>
            <a href="#" @click.prevent="storeOrder()" class="order">Оформить заказ</a>
            <!--{{ link_to_route('cart.clear', 'Очистить корзину', null, ['class' => 'clear']) }}-->
            <!--{{ link_to_route('order.store', 'Оформить заказ', null,-->
            <!--['class' => 'order', 'onclick' => 'event.preventDefault();-->
            <!--document.getElementById("order-store").submit();']) }}-->
            <!--{!! Form::open(['route'=>'order.store', 'id'=>'order-store', 'style'=>'display:none']) !!}-->
            <!--{!! Form::close() !!}-->
        </div>
    </div>

    <p v-else>В вашей корзине нет товаров</p>
</template>

<script>
    export default {
        data() {
            return {
                cart: [],
            }
        },
        mounted: function () {
            axios.post('/api/cart')
                .then((response) => this.cart = response.data.cart)
                .catch((response) => {
                    console.log(response);
                    alert("Не удалось получить корзину");
                });
        },
        computed: {},
        methods: {
            deleteItem(id) {
                axios.post('/api/cart/remove/' + id)
                    .then((response) => this.cart = response.data.cart)
                    .catch((response) => console.log(response));
            },
            increaseItem(id) {
                axios.post('/api/cart/increase/' + id)
                    .then((response) => this.cart = response.data.cart)
                    .catch((response) => console.log(response));
            },
            decreaseItem(id) {
                axios.post('/api/cart/decrease/' + id)
                    .then((response) => this.cart = response.data.cart)
                    .catch((response) => console.log(response));
            },
            clearCart() {
                if (confirm('Вы уверены что хотите очистить корзину?')) {
                    axios.post('/api/cart/clear')
                        .then((response) => this.cart = response.data.cart)
                        .catch((response) => console.log(response));
                }
            },
            storeOrder() {
                axios.get('/api/order')
                    .then((response) => {
                        // if(response) {
                            console.log(response);
                            // window.location.href = 'some url';
                        // }
                    })
                    .catch((response) => {
                        console.log(response);
                        // alert("Не удалось сохранить заказ");
                    });
            },
        }
    }
</script>
