body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.header__top {
  background-color: #363636;
}

.header__top > div {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 560px) {
  .header__top > div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__top-contacts {
  color: #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px 0;
}

@media screen and (max-width: 560px) {
  .header__top-contacts {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 0;
  }
}

.header__top-contacts > * {
  margin: 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media screen and (max-width: 560px) {
  .header__top-contacts > * {
    margin: 0;
  }
}

.header__top-contacts > *:hover {
  color: #fff;
}

.header__top-contacts > *:hover span {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 560px) {
  .header__top-contacts > *:hover span {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header__top-contacts > * span {
  display: inline-block;
  margin-right: 5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media screen and (max-width: 560px) {
  .header__top-contacts > * span {
    margin-right: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.header__top-contacts .phone {
  margin-right: 15px;
}

@media screen and (max-width: 560px) {
  .header__top-contacts .phone {
    margin-right: 4px;
  }
}

.header__top-contacts .phone span {
  width: 22px;
  height: 30px;
  background: url(/img/phone_icon.png);
}

.header__top-contacts .email span {
  width: 30px;
  height: 20px;
  background: url(/img/email_icon.png);
}

.header__top .login-open {
  display: none;
  color: white;
  font-weight: 600;
  margin: 15px 6px 10px;
  cursor: pointer;
  -webkit-transition: .15s all ease;
  transition: .15s all ease;
}

.header__top .login-open:hover {
  color: #f76341;
}

@media screen and (max-width: 960px) {
  .header__top .login-open {
    display: block;
  }
}

@media screen and (max-width: 560px) {
  .header__top .login-open {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.header__top .login-open--show {
  color: #f76341;
}

.header__top .user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.header__top .user-name a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin: 0 6px;
  -webkit-transition: .15s all ease;
  transition: .15s all ease;
}

.header__top .user-name a:hover {
  color: #f76341;
}

.header__top .user-name .user-name-link {
  font-weight: 600;
}

.header__top-auth {
  display: block;
  margin: 5px 0;
}

@media screen and (max-width: 960px) {
  .header__top-auth {
    display: none;
    width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 560px) {
  .header__top-auth {
    margin-bottom: 10px;
  }
}

.header__top-auth form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 960px) {
  .header__top-auth form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 780px) {
  .header__top-auth form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header__top-auth input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  width: 150px;
  height: 26px;
  border-radius: 8px;
  padding: 5px;
  margin: 0 4px;
  line-height: 26px;
  outline: none;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

@media screen and (max-width: 1200px) {
  .header__top-auth input {
    width: 140px;
  }
}

@media screen and (max-width: 960px) {
  .header__top-auth input {
    width: 40%;
  }
}

@media screen and (max-width: 780px) {
  .header__top-auth input {
    width: calc(50% - 12px);
  }
}

.header__top-auth input::-webkit-input-placeholder {
  font-style: italic;
  color: #999;
}

.header__top-auth input:-ms-input-placeholder {
  font-style: italic;
  color: #999;
}

.header__top-auth input::-ms-input-placeholder {
  font-style: italic;
  color: #999;
}

.header__top-auth input::placeholder {
  font-style: italic;
  color: #999;
}

.header__top-auth input.submit {
  width: 70px;
  background-color: #f76341;
  color: white;
  font-weight: bold;
  line-height: 14px;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .header__top-auth input.submit {
    margin-top: 10px;
    width: calc(50% - 12px);
  }
}

.header__top-auth input[type=text],
.header__top-auth input[type=password] {
  -webkit-appearance: none;
}

.header__top-auth input[type=checkbox] {
  width: auto;
}

.header__top-auth .remember {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 24px;
  margin: 0 4px;
}

@media screen and (max-width: 960px) {
  .header__top-auth .remember {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }
}

@media screen and (max-width: 780px) {
  .header__top-auth .remember {
    width: calc(50% - 12px);
    margin-top: 10px;
  }
}

.header__top-auth .remember span {
  vertical-align: top;
  line-height: 26px;
  color: white;
  display: none;
}

@media screen and (max-width: 960px) {
  .header__top-auth .remember span {
    display: inline;
  }
}

@media screen and (max-width: 960px) {
  .header__top-auth .link_to_reg {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    margin-left: 30px;
  }
}

.header__top-auth .link_to_reg span {
  color: white;
  margin: 0 4px;
}

@media screen and (max-width: 780px) {
  .header__top-auth .link_to_reg span {
    margin: 5px 2px 0;
  }
}

.header__top-auth .link_to_reg a {
  text-decoration: none;
  color: #f76341;
  font-weight: 600;
  margin: 0 4px;
}

@media screen and (max-width: 780px) {
  .header__top-auth .link_to_reg a {
    margin: 5px 2px 0;
  }
}

@media screen and (max-width: 960px) {
  .header__top-auth--show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header > .wrapper {
  position: relative;
}

.header__nav {
  min-height: 100px;
  padding: 5px;
}

@media screen and (max-width: 960px) {
  .header__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__nav-logo {
  margin: 0 15px;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .header__nav-logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 10px;
  }

  .header__nav-logo a {
    display: inline-block;
  }
}

@media screen and (max-width: 960px) and (max-width: 560px) {
  .header__nav-logo img {
    width: 140px;
  }
}

.header__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 960px) {
  .header__nav > ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__nav > ul > li {
  position: relative;
  border: 1px solid #000;
  border-radius: 15px;
  width: 140px;
  text-align: center;
  line-height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 15px;
}

@media screen and (max-width: 1200px) {
  .header__nav > ul > li {
    margin: 0 10px;
  }
}

@media screen and (max-width: 780px) {
  .header__nav > ul > li {
    display: none;
  }
}

.header__nav > ul > li ul {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.header__nav > ul > li ul li {
  width: 140px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #363636;
  margin: 5px 0;
}

.header__nav > ul > li ul li a {
  color: white;
  font-weight: 400;
}

.header__nav ul li a {
  display: block;
  height: 100%;
  width: 100%;
}

.header__nav ul li a,
.header__nav ul li button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  -webkit-transition: .15s all ease;
  transition: .15s all ease;
  cursor: pointer;
}

.header__nav ul li:hover,
.header__nav ul li.link-active {
  border-color: #f76341;
}

.header__nav ul li:hover > a,
.header__nav ul li:hover > button,
.header__nav ul li.link-active > a,
.header__nav ul li.link-active > button {
  color: #f76341;
}

.header__nav-hidden {
  display: none;
  position: absolute;
  top: 35px;
  left: 35px;
}

@media screen and (max-width: 780px) {
  .header__nav-hidden {
    display: block;
  }
}

@media screen and (max-width: 560px) {
  .header__nav-hidden {
    left: 15px;
  }
}

.header__nav-hidden button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.header__nav-hidden button.nav-open-btn {
  font-size: 35px;
  color: #363636;
  cursor: pointer;
}

.header__nav-hidden button.nav-close-btn {
  display: none;
  position: fixed;
  width: 220px;
  top: 40px;
  left: -220px;
  z-index: 101;
  text-align: center;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

@media screen and (max-width: 780px) {
  .header__nav-hidden button.nav-close-btn {
    display: block;
  }
}

.header__nav-hidden button.nav-close-btn.show {
  left: 0;
}

.header__nav-hidden button.nav-close-btn i {
  font-size: 26px;
  -webkit-transition: .15s all ease;
  transition: .15s all ease;
  color: #363636;
}

.header__nav-hidden button.nav-close-btn i:hover {
  color: #f76341;
}

.header__nav-hidden .side-nav {
  display: none;
  position: fixed;
  top: 0;
  left: -220px;
  width: 220px;
  min-height: 100vh;
  background-color: #191919;
  z-index: 100;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

@media screen and (max-width: 780px) {
  .header__nav-hidden .side-nav {
    display: block;
  }
}

.header__nav-hidden .side-nav.show {
  left: 0;
}

.header__nav-hidden .side-nav > ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 80px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.header__nav-hidden .side-nav > ul::-webkit-scrollbar {
  width: 0;
}

.header__nav-hidden .side-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__nav-hidden .side-nav ul li {
  margin: 0 0 0 22px;
}

.header__nav-hidden .side-nav ul li a,
.header__nav-hidden .side-nav ul li button {
  display: block;
  text-decoration: none;
  margin: 8px 0;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: .15s all ease;
  transition: .15s all ease;
}

.header__nav-hidden .side-nav ul li a:hover,
.header__nav-hidden .side-nav ul li a.link-active,
.header__nav-hidden .side-nav ul li button:hover,
.header__nav-hidden .side-nav ul li button.link-active {
  color: #f76341;
}

.header__nav-hidden .side-nav ul li button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.header__nav-hidden .side-nav ul li button span {
  margin-left: 5px;
}

.header .cart-btn {
  position: absolute;
  display: block;
  right: 10px;
  top: 35px;
}

@media screen and (max-width: 960px) {
  .header .cart-btn {
    top: 110px;
  }
}

@media screen and (max-width: 780px) {
  .header .cart-btn {
    right: 35px;
    top: 45px;
  }
}

@media screen and (max-width: 560px) {
  .header .cart-btn {
    right: 15px;
  }
}

.header .cart-btn__qty {
  position: absolute;
  color: white;
  left: 17px;
  top: 1px;
  width: 24px;
  height: 20px;
  border-radius: 10px;
  background-color: #f76341;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

.header .cart-btn__price {
  position: absolute;
  top: 35px;
  left: -23px;
  width: 70px;
  font-size: 13px;
  font-weight: 500;
  text-align: right;
  color: #000;
}

.index {
  background: url(/img/rosemary.png) 25% 60% no-repeat, url(/img/tomato.png) right bottom no-repeat, url(/img/header-back.jpg);
  background-size: 258px 398px, 188px 285px, cover;
}

@media screen and (max-width: 1200px) {
  .index {
    background-position: 15% 50%, right bottom;
  }
}

@media screen and (max-width: 960px) {
  .index {
    background: url(/img/header-back.jpg) center;
    background-size: cover;
  }
}

.index__welcome {
  text-align: center;
  max-width: 600px;
  text-transform: uppercase;
  padding: 25% 0 20px 25%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .index__welcome {
    padding: 25% 0 20px 25%;
  }
}

@media screen and (max-width: 960px) {
  .index__welcome {
    padding: 30% 0 20px;
  }
}

@media screen and (max-width: 780px) {
  .index__welcome {
    max-width: 510px;
    padding-top: 35%;
  }
}

@media screen and (max-width: 560px) {
  .index__welcome {
    padding-top: 50%;
  }
}

.index__welcome > * {
  display: block;
}

.index__welcome-1 {
  font-size: 20px;
  letter-spacing: 3px;
}

@media screen and (max-width: 780px) {
  .index__welcome-1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 560px) {
  .index__welcome-1 {
    font-size: 4.5vw;
    letter-spacing: 2px;
  }
}

.index__welcome-2 {
  font-size: 90px;
  font-weight: 100;
  letter-spacing: 24px;
  margin-bottom: 10px;
}

@media screen and (max-width: 780px) {
  .index__welcome-2 {
    font-size: 80px;
    letter-spacing: 18px;
  }
}

@media screen and (max-width: 560px) {
  .index__welcome-2 {
    font-size: 15vw;
    letter-spacing: 4px;
  }
}

.index__welcome-3 {
  font-size: 18px;
  margin-bottom: 30px;
  letter-spacing: 4px;
}

@media screen and (max-width: 780px) {
  .index__welcome-3 {
    font-size: 17px;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 560px) {
  .index__welcome-3 {
    font-size: 4vw;
    letter-spacing: 2px;
  }
}

.index__welcome-4 {
  font-size: 26px;
  letter-spacing: 5px;
}

@media screen and (max-width: 780px) {
  .index__welcome-4 {
    font-size: 24px;
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 560px) {
  .index__welcome-4 {
    font-size: 5vw;
    letter-spacing: 2px;
  }
}

section {
  padding: 50px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .h2 {
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  letter-spacing: 12px;
}

@media screen and (max-width: 960px) {
  section .h2 {
    font-size: 38px;
    letter-spacing: 7px;
  }
}

@media screen and (max-width: 780px) {
  section .h2 {
    font-size: 36px;
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 560px) {
  section .h2 {
    font-size: 32px;
    letter-spacing: 0;
  }
}

.cuisine__items,
.category__items,
.cooks__items {
  margin-top: 30px;
}

.cuisine__items--flex,
.category__items--flex,
.cooks__items--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.cuisine__items .item,
.category__items .item,
.cooks__items .item {
  text-align: center;
  cursor: pointer;
}

.cuisine__items .item:hover .image .overlay,
.category__items .item:hover .image .overlay,
.cooks__items .item:hover .image .overlay {
  opacity: 1;
}

.cuisine__items .item:hover .image img,
.category__items .item:hover .image img,
.cooks__items .item:hover .image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cuisine__items .item--flex,
.category__items .item--flex,
.cooks__items .item--flex {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  margin-bottom: 30px;
}

@media screen and (max-width: 960px) {
  .cuisine__items .item--flex,
  .category__items .item--flex,
  .cooks__items .item--flex {
    width: calc(33.33333333% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .cuisine__items .item--flex,
  .category__items .item--flex,
  .cooks__items .item--flex {
    width: calc(50% - 30px);
  }
}

.cuisine__items .item a,
.category__items .item a,
.cooks__items .item a {
  text-decoration: none;
  color: #000;
}

.cuisine__items .item .image,
.category__items .item .image,
.cooks__items .item .image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #363636;
  overflow: hidden;
  position: relative;
}

.cuisine__items .item .image .overlay,
.category__items .item .image .overlay,
.cooks__items .item .image .overlay {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.cuisine__items .item .image .overlay p,
.category__items .item .image .overlay p,
.cooks__items .item .image .overlay p {
  padding: 8px 15px;
  background-color: rgba(30, 30, 30, 0.85);
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.cuisine__items .item .image img,
.category__items .item .image img,
.cooks__items .item .image img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  -webkit-transition: 5s -webkit-transform ease;
  transition: 5s -webkit-transform ease;
  transition: 5s transform ease;
  transition: 5s transform ease, 5s -webkit-transform ease;
}

.cuisine__items .item .title,
.category__items .item .title,
.cooks__items .item .title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
}

@media screen and (max-width: 960px) {
  .cuisine__items .item .title,
  .category__items .item .title,
  .cooks__items .item .title {
    font-size: 17px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 780px) {
  .cuisine__items .item .title,
  .category__items .item .title,
  .cooks__items .item .title {
    font-size: 15px;
    letter-spacing: 0;
  }
}

.cuisine .section__description,
.category .section__description,
.cooks .section__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 60px;
}

.cuisine .section__description-icon,
.category .section__description-icon,
.cooks .section__description-icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66666667% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #363636;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 780px) {
  .cuisine .section__description-icon,
  .category .section__description-icon,
  .cooks .section__description-icon {
    width: calc(100% - 30px);
  }
}

.cuisine .section__description-text,
.category .section__description-text,
.cooks .section__description-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(58.33333333% - 30px);
  text-align: center;
  padding: 10px 80px;
  border-top: 2px solid #363636;
  font-size: 30px;
}

@media screen and (max-width: 960px) {
  .cuisine .section__description-text,
  .category .section__description-text,
  .cooks .section__description-text {
    font-size: 26px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 780px) {
  .cuisine .section__description-text,
  .category .section__description-text,
  .cooks .section__description-text {
    width: calc(100% - 30px);
    font-size: 24px;
    border-top: none;
  }
}

@media screen and (max-width: 560px) {
  .cuisine .section__description-text,
  .category .section__description-text,
  .cooks .section__description-text {
    width: calc(100% - 30px);
    font-size: 22px;
  }
}

.cuisine .section__description-text span,
.category .section__description-text span,
.cooks .section__description-text span {
  font-weight: 500;
}

.cuisine .section__description-text span.one,
.category .section__description-text span.one,
.cooks .section__description-text span.one {
  color: #f76341;
}

@media screen and (max-width: 780px) {
  .cuisine__items .item .image img {
    margin: -8% 0 -8% 0;
  }
}

@media screen and (max-width: 780px) {
  .category__items .item .image img {
    margin: -20% 0 -20% 0;
  }
}

.category .section__description-icon {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 780px) {
  .category .section__description-icon {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.cooks__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 960px) {
  .cooks__items {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.cooks__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(16.66666667% - 30px);
}

@media screen and (max-width: 960px) {
  .cooks__item {
    width: calc(25% - 30px);
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 780px) {
  .cooks__item {
    width: calc(33.33333333% - 30px);
    margin-left: calc(8.33333333% + 15px);
    margin-right: calc(8.33333333% + 15px);
  }
}

@media screen and (max-width: 560px) {
  .cooks__item {
    width: calc(50% - 30px);
    margin-left: calc(0% + 15px);
    margin-right: calc(0% + 15px);
  }
}

.cooks__item-img img {
  width: 100%;
  height: auto;
  border: 2px solid #f76341;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cooks__item-title {
  text-align: center;
  font-size: 24px;
}

@media screen and (max-width: 1200px) {
  .cooks__item-title {
    font-size: 19px;
  }
}

@media screen and (max-width: 960px) {
  .cooks__item-title {
    font-size: 20px;
  }
}

.cooks__item-title span {
  display: block;
  font-style: italic;
  color: #363636;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .cooks__item-title span {
    font-size: 16px;
  }
}

@media screen and (max-width: 960px) {
  .cooks__item-title span {
    font-size: 18px;
  }
}

.cooks__item--big {
  width: calc(33.33333333% - 30px);
}

@media screen and (max-width: 960px) {
  .cooks__item--big {
    width: calc(50% - 30px);
    margin-left: calc(25% + 15px);
    margin-right: calc(25% + 15px);
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media screen and (max-width: 780px) {
  .cooks__item--big {
    width: calc(66.66666667% - 30px);
    margin-left: calc(16.66666667% + 15px);
    margin-right: calc(16.66666667% + 15px);
  }
}

@media screen and (max-width: 560px) {
  .cooks__item--big {
    width: calc(83.33333333% - 30px);
    margin-left: calc(8.33333333% + 15px);
    margin-right: calc(8.33333333% + 15px);
  }
}

.dish__items {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.dish__items .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333333% - 30px);
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 960px) {
  .dish__items .item {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .dish__items .item {
    margin-left: calc(8.33333333% + 15px);
    margin-right: calc(8.33333333% + 15px);
    width: calc(83.33333333% - 30px);
  }
}

.dish__items .item .image {
  text-align: center;
  margin: 5px 0;
  position: relative;
  border: 1px solid #999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dish__items .item .image .links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dish__items .item .image a {
  text-decoration: none;
  color: #262626;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.dish__items .item .image a:hover {
  color: #000;
}

.dish__items .item .image > a:hover .overlay {
  opacity: 1;
}

.dish__items .item .image .title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 780px) {
  .dish__items .item .image .title {
    font-size: 15px;
  }
}

.dish__items .item .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.dish__items .item .image .overlay p {
  padding: 8px 15px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #202020;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.dish__items .item .image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  vertical-align: bottom;
}

.dish__items .item .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.dish__items .item .bottom .price {
  text-align: center;
  font-size: 26px;
}

@media screen and (max-width: 780px) {
  .dish__items .item .bottom .price {
    font-size: 20px;
  }
}

.dish__items .item .bottom .buy {
  text-align: center;
  width: 120px;
  padding: 5px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
  background-color: #f76341;
  cursor: pointer;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.dish__items .item .bottom .buy:hover {
  background-color: #e15f3c;
}

.dish__show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #555555;
}

.dish__show .image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333333% - 30px);
}

@media screen and (max-width: 960px) {
  .dish__show .image {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(41.66666667% - 30px);
  }
}

@media screen and (max-width: 780px) {
  .dish__show .image {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(50% - 30px);
    margin-left: calc(25% + 15px);
    margin-right: calc(25% + 15px);
  }
}

@media screen and (max-width: 560px) {
  .dish__show .image {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(66.66666667% - 30px);
    margin-left: calc(16.66666667% + 15px);
    margin-right: calc(16.66666667% + 15px);
  }
}

.dish__show .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66666667% - 30px);
}

@media screen and (max-width: 960px) {
  .dish__show .info {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(58.33333333% - 30px);
  }
}

@media screen and (max-width: 780px) {
  .dish__show .info {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
  }
}

.dish__show .info .title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.dish__show .info .links {
  margin-bottom: 15px;
}

.dish__show .info .links a {
  padding: 2px 6px;
  border-radius: 5px;
  border: 1px solid #363636;
  text-decoration: none;
  color: #363636;
  font-weight: 500;
  font-style: italic;
  margin-right: 15px;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.dish__show .info .links a:hover {
  color: #f76341;
  border-color: #f76341;
}

.dish__show .info .description {
  margin-bottom: 15px;
}

.dish__show .info .bottom {
  margin-top: auto;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dish__show .info .bottom .price {
  text-align: center;
  font-size: 26px;
  margin-right: 20px;
}

@media screen and (max-width: 780px) {
  .dish__show .info .bottom .price {
    font-size: 24px;
  }
}

.dish__show .info .bottom .buy {
  text-align: center;
  width: 120px;
  padding: 5px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
  background-color: #f76341;
  cursor: pointer;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.dish__show .info .bottom .buy:hover {
  background-color: #e15f3c;
}

.dish .similar .title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.dish .similar .item {
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .dish .similar .item {
    width: calc(83.33333333% - 30px);
    margin-left: calc(8.33333333% + 15px);
    margin-right: calc(8.33333333% + 15px);
  }
}

.dish .similar .item a {
  text-decoration: none;
  color: #000;
}

.dish .similar .item .image {
  text-align: center;
  margin: 5px 0;
  position: relative;
  border: 1px solid #999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dish .similar .item .image .links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dish .similar .item .image a {
  text-decoration: none;
  color: #262626;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.dish .similar .item .image a:hover {
  color: #000;
}

.dish .similar .item .image > a:hover .overlay {
  opacity: 1;
}

.dish .similar .item .image .title {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 5px;
  margin-bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 780px) {
  .dish .similar .item .image .title {
    font-size: 15px;
  }
}

.dish .similar .item .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.dish .similar .item .image .overlay p {
  padding: 8px 15px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #202020;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.dish .similar .item .image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  vertical-align: bottom;
}

.cart table {
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}

.cart table tr > * {
  border: 1px solid #bbb;
  padding: 3px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart table tr th {
  background-color: #ccc;
  text-align: center;
  font-weight: 500;
}

.cart table tr .qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.cart table tr .qty span {
  margin: auto 5px;
}

.cart table tr .qty a {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #999;
  background-color: #eee;
  color: #444;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  line-height: 16px;
  font-weight: 700;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.cart table tr .qty a:hover {
  border-color: #f76341;
  color: #f76341;
}

.cart table tr .delete {
  text-align: center;
}

.cart table tr .delete a {
  color: #444;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.cart table tr .delete a:hover {
  border-color: #f76341;
  color: #f76341;
}

.cart table tr.total {
  background-color: #ccc;
  font-weight: 500;
}

.cart .manage {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart .manage a {
  width: 100%;
  max-width: 180px;
  border-radius: 5px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.cart .manage .clear {
  border: 1px solid #999;
  background-color: #eee;
  color: #444;
}

.cart .manage .clear:hover {
  border-color: #f76341;
  color: #f76341;
}

.cart .manage .order {
  background-color: #f76341;
  color: white;
}

.cart .manage .order:hover {
  background-color: #d0562e;
}

.cart p {
  text-align: center;
}

.footer {
  background-color: #363636;
  color: white;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  font-size: 17px;
  padding-top: 10px;
}

@media screen and (max-width: 1200px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer__contacts {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333333% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .footer__contacts {
    width: calc(100% - 30px);
    margin-top: 20px;
  }
}

.footer__contacts-item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
}

@media screen and (max-width: 1200px) {
  .footer__contacts-item {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@media screen and (max-width: 960px) {
  .footer__contacts-item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media screen and (max-width: 780px) {
  .footer__contacts-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (max-width: 560px) {
  .footer__contacts-item p {
    font-size: 14px;
  }
}

.footer__contacts-item p:first-child {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer__contacts-map {
  margin-top: 40px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-bottom: 80%;
  position: relative;
  height: 0;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .footer__contacts-map {
    margin-top: 0;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    padding-bottom: 20%;
  }
}

@media screen and (max-width: 960px) {
  .footer__contacts-map {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    padding-bottom: 25%;
  }
}

@media screen and (max-width: 780px) {
  .footer__contacts-map {
    margin-top: 20px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-bottom: 25%;
  }
}

@media screen and (max-width: 560px) {
  .footer__contacts-map {
    margin-top: 20px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-bottom: 45%;
  }
}

.footer__contacts-map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer__nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  margin-left: calc(8.33333333% + 15px);
  margin-right: calc(8.33333333% + 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1200px) {
  .footer__nav {
    width: calc(100% - 30px);
    margin-left: calc(0% + 15px);
    margin-right: calc(0% + 15px);
    padding-bottom: 20px;
    border-bottom: 2px solid #aaa;
  }
}

.footer__nav > div {
  text-align: center;
}

@media screen and (max-width: 560px) {
  .footer__nav > div {
    margin-bottom: 30px;
  }
}

.footer__nav p {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 560px) {
  .footer__nav p {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.footer__nav a {
  color: white;
}

@media screen and (max-width: 560px) {
  .footer__nav a {
    font-size: 14px;
  }
}

.footer__social {
  padding-top: 40px;
  border-top: 2px solid #aaa;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (max-width: 1200px) {
  .footer__social {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    border-top: none;
    padding-top: 0;
  }
}

@media screen and (max-width: 960px) {
  .footer__social {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    border-top: none;
  }
}

@media screen and (max-width: 780px) {
  .footer__social {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border-top: none;
    padding-top: 20px;
  }
}

.footer__social-text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}

@media screen and (max-width: 960px) {
  .footer__social-text {
    font-size: 18px;
  }
}

.footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .footer__social-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__social-icons a {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #555;
  border-radius: 50%;
  font-size: 40px;
  line-height: 70px;
  -webkit-transition: .15s all ease;
  transition: .15s all ease;
}

@media screen and (max-width: 1200px) {
  .footer__social-icons a {
    width: 54px;
    height: 54px;
    font-size: 26px;
    line-height: 54px;
  }
}

@media screen and (max-width: 960px) {
  .footer__social-icons a {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    margin: 2px;
  }
}

@media screen and (max-width: 780px) {
  .footer__social-icons a {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    margin: 5px;
  }
}

@media screen and (max-width: 560px) {
  .footer__social-icons a {
    width: 44px;
    height: 44px;
    font-size: 20px;
    line-height: 44px;
    margin: 2px;
  }
}

.footer__social-icons a.fb:hover {
  background-color: #3B5998;
}

.footer__social-icons a.vk:hover {
  background-color: #507299;
}

.footer__social-icons a.ok:hover {
  background-color: #EE8208;
}

.footer__social-icons a.tw:hover {
  background-color: #1DA1F2;
}

.footer__social-icons a.in:hover {
  background-color: #C5327E;
}

.footer__social-icons a.gp:hover {
  background-color: #DB4437;
}

.footer__bottom {
  margin-top: 20px;
  border-top: 2px solid #999;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 780px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 780px) {
  .footer__payment {
    margin-top: 15px;
  }
}

.footer__payment img {
  display: inline-block;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 780px) {
  .footer__payment img {
    height: 16px;
  }
}

@media screen and (max-width: 560px) {
  .footer__payment img {
    height: 12px;
  }
}

.auth-content {
  margin: 30px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (max-width: 960px) {
  .auth-content {
    margin: 25px 0;
  }
}

@media screen and (max-width: 780px) {
  .auth-content {
    margin: 20px 0;
  }
}

.auth-content .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

@media screen and (max-width: 960px) {
  .auth-content .item {
    width: calc(66.66666667% - 30px);
  }
}

@media screen and (max-width: 780px) {
  .auth-content .item {
    width: calc(83.33333333% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .auth-content .item {
    width: calc(100% - 30px);
  }
}

.auth-content .item form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.auth-content .item form label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 280px;
  width: 80%;
  padding: 5px;
  line-height: 26px;
}

.auth-content .item form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 280px;
  width: 80%;
  border: 1px solid #f76341;
  border-radius: 8px;
  padding: 5px;
  margin: 10px 0;
  line-height: 26px;
  outline: none;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.auth-content .item form input::-webkit-input-placeholder {
  font-style: italic;
  color: #999;
}

.auth-content .item form input:-ms-input-placeholder {
  font-style: italic;
  color: #999;
}

.auth-content .item form input::-ms-input-placeholder {
  font-style: italic;
  color: #999;
}

.auth-content .item form input::placeholder {
  font-style: italic;
  color: #999;
}

.auth-content .item form input.submit {
  background-color: #f76341;
  padding: 10px;
  color: white;
  font-weight: bold;
  line-height: 14px;
  cursor: pointer;
  margin-top: auto;
}

.auth-content .item form input[type=text] {
  -webkit-appearance: none;
}

.auth-content .item form input[type=checkbox] {
  display: inline;
  width: auto;
  min-width: unset;
}

.auth-content .item form span {
  color: #363636;
  margin: 0 6px;
}

@media screen and (max-width: 780px) {
  .auth-content .item form span {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 5px 2px 0;
  }
}

.auth-content .item form a {
  text-decoration: none;
  color: #f76341;
  font-weight: 600;
  font-size: 18px;
  margin: 0 6px;
  text-align: center;
}

.auth-content .item form .error {
  background-color: #ffbd99;
  min-width: 280px;
  width: 80%;
  text-align: center;
  color: #620b1a;
  padding: 3px;
}

.user-content {
  margin: 30px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (max-width: 960px) {
  .user-content {
    margin: 25px 0;
  }
}

@media screen and (max-width: 780px) {
  .user-content {
    margin: 20px 0;
  }
}

.user-content .success {
  width: 100%;
  padding: 5px;
  margin: 0 5px;
  background-color: #9dffa1;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.user-content .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

@media screen and (max-width: 960px) {
  .user-content .item {
    width: calc(66.66666667% - 30px);
  }
}

@media screen and (max-width: 780px) {
  .user-content .item {
    width: calc(83.33333333% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .user-content .item {
    width: calc(100% - 30px);
  }
}

.user-content .item .alert {
  text-align: center;
  background-color: #ffc59a;
  padding: 10px;
}

.user-content .item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EFF0F0;
  height: 100%;
}

.user-content .item .info-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  background-color: #bbb;
}

.user-content .item .info-row {
  padding: 3px 10px;
}

.user-content .item .info-row span {
  display: inline-block;
  width: 50%;
  font-weight: 600;
  text-align: right;
  padding-right: 10px;
}

.user-content .item .info-order {
  padding: 3px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-content .item .info-order a {
  margin-left: auto;
  text-decoration: none;
  font-style: italic;
  color: #f76341;
  font-size: 15px;
  font-weight: 500;
}

.user-content .item .info-order a:hover {
  color: #d1743d;
}

.user-content .item .info-btn {
  margin-top: auto;
  border: none;
  outline: none;
  background-color: #f76341;
  width: 100%;
  padding: 0;
}

.user-content .item .info-btn:hover {
  background-color: #db4e34;
}

.user-content .item .info-btn a {
  font-size: 14px;
  display: block;
  padding: 6px 20px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

.user-content .item form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.user-content .item form label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 280px;
  width: 80%;
  padding: 5px;
  line-height: 26px;
}

.user-content .item form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 280px;
  width: 80%;
  border: 1px solid #f76341;
  border-radius: 8px;
  padding: 5px;
  margin: 10px 0;
  line-height: 26px;
  outline: none;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.user-content .item form input::-webkit-input-placeholder {
  font-style: italic;
  color: #999;
}

.user-content .item form input:-ms-input-placeholder {
  font-style: italic;
  color: #999;
}

.user-content .item form input::-ms-input-placeholder {
  font-style: italic;
  color: #999;
}

.user-content .item form input::placeholder {
  font-style: italic;
  color: #999;
}

.user-content .item form input.submit {
  background-color: #f76341;
  padding: 10px;
  color: white;
  font-weight: bold;
  line-height: 14px;
  cursor: pointer;
}

.user-content .item form input[type=text] {
  -webkit-appearance: none;
}

.user-content .item form input[type=checkbox] {
  display: inline;
  width: auto;
  min-width: unset;
}

.user-content .item form span {
  color: #363636;
  margin: 0 6px;
}

@media screen and (max-width: 780px) {
  .user-content .item form span {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 5px 2px 0;
  }
}

.user-content .item form .error {
  background-color: #ffbd99;
  min-width: 280px;
  width: 80%;
  text-align: center;
  color: #620b1a;
  padding: 3px;
}

html,
body,
button {
  font-family: "Segoe UI", sans-serif;
}

.debug {
  display: none;
  height: 100vh;
  position: fixed;
  width: 100%;
}

.debug > div {
  height: inherit;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1200px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 960px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 780px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 560px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.debug > div > div {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.debug > div > div > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(8.33333333% - 30px);
  height: inherit;
  outline: 0;
  background: rgba(0, 0, 0, 0.3);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 560px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.side-lines {
  overflow: hidden;
}

.side-lines::before,
.side-lines::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #363636;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.side-lines::before {
  margin-left: -100%;
  margin-right: 20px;
}

.side-lines::after {
  margin-right: -100%;
  margin-left: 20px;
}

