.auth-content {
  margin: 30px 0;
  justify-content: center;
  @include row-flex;

  @include md-block {
    margin: 25px 0;
  }

  @include sm-block {
    margin: 20px 0;
  }

  .item {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    @include col;
    @include size(6);

    @include md-block {
      @include size(8);
    }

    @include sm-block {
      @include size(10);
    }

    @include xs-block {
      @include size(12);
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      label {
        box-sizing: border-box;
        min-width: 280px;
        width: 80%;
        padding: 5px;
        line-height: 26px;
      }

      input {
        box-sizing: border-box;
        min-width: 280px;
        width: 80%;
        border: 1px solid $myOrange;
        border-radius: 8px;
        padding: 5px;
        margin: 10px 0;
        line-height: 26px;
        outline: none;
        transition: .5s all ease;

        &::placeholder {
          font-style: italic;
          color: #999;
        }

        &.submit {
          background-color: $myOrange;
          padding: 10px;
          color: white;
          font-weight: bold;
          line-height: 14px;
          cursor: pointer;
          margin-top: auto;
        }

        &[type=text] {
          -webkit-appearance: none;
        }

        &[type=checkbox] {
          display: inline;
          width: auto;
          min-width: unset;
        }
      }

      span {
        color: $myGray;
        margin: 0 6px;

        @include sm-block {
          flex-grow: 1;
          margin: 5px 2px 0;
        }
      }

      a {
        text-decoration: none;
        color: $myOrange;
        font-weight: 600;
        font-size: 18px;
        margin: 0 6px;
        text-align: center;
      }

      .error {
        background-color: #ffbd99;
        min-width: 280px;
        width: 80%;
        text-align: center;
        color: #620b1a;
        padding: 3px;
      }
    }
  }
}