.footer {
  background-color: $myGray;
  color: white;

  &__top {
    @include row-flex;
    font-size: 17px;
    padding-top: 10px;

    @include lg-block {
      flex-direction: column-reverse;
    }
  }

  &__contacts {
    @include col;
    @include size(4);
    display: flex;
    flex-wrap: wrap;

    @include lg-block {
      @include size(12);
      margin-top: 20px;
    }

    &-item {
      flex-basis: 50%;
      box-sizing: border-box;
      padding: 0 10px;

      @include lg-block {
        flex-basis: 20%;
      }

      @include md-block {
        flex-basis: 30%;
      }

      @include sm-block {
        flex-basis: 50%;
      }

      p {

        @include xs-block {
          font-size: 14px;
        }

        &:first-child {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 20px;
        }
      }
    }

    &-map {
      margin-top: 40px;
      flex-basis: 100%;
      padding-bottom: 80%;
      position: relative;
      height: 0;
      overflow: hidden;

      @include lg-block {
        margin-top: 0;
        flex-basis: 60%;
        padding-bottom: 20%;
      }

      @include md-block {
        flex-basis: 40%;
        padding-bottom: 25%;
      }

      @include sm-block {
        margin-top: 20px;
        flex-basis: 100%;
        padding-bottom: 25%;
      }

      @include xs-block {
        margin-top: 20px;
        flex-basis: 100%;
        padding-bottom: 45%;
      }


      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }

  &__nav {
    @include col;
    @include size(6);
    @include shift(1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include lg-block {
      @include size(12);
      @include shift(0);
      padding-bottom: 20px;
      border-bottom: 2px solid #aaa;
    }

    > div {
      text-align: center;

      @include xs-block {
        //				flex-basis: 100%;
        margin-bottom: 30px;
      }
    }

    p {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 500;

      @include xs-block {
        margin-bottom: 10px;
        font-size: 16px;
      }
    }

    a {
      //text-decoration: none;
      color: white;

      @include xs-block {
        font-size: 14px;
      }
    }
  }

  &__social {
    padding-top: 40px;
    border-top: 2px solid #aaa;
    flex-basis: 100%;

    @include lg-block {
      flex-basis: 40%;
      border-top: none;
      padding-top: 0;
    }

    @include md-block {
      flex-basis: 35%;
      border-top: none;
    }

    @include sm-block {
      flex-basis: 100%;
      border-top: none;
      padding-top: 20px;
    }

    &-text {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 40px;

      @include md-block {
        font-size: 18px;
      }
    }

    &-icons {
      display: flex;
      justify-content: space-between;

      @include md-block {
        justify-content: center;
      }

      a {
        display: block;
        width: 70px;
        height: 70px;
        background-color: #555;
        border-radius: 50%;
        font-size: 40px;
        line-height: 70px;
        transition: .15s all ease;

        @include lg-block {
          width: 54px;
          height: 54px;
          font-size: 26px;
          line-height: 54px;
        }

        @include md-block {
          width: 40px;
          height: 40px;
          font-size: 20px;
          line-height: 40px;
          margin: 2px;
        }

        @include sm-block {
          width: 50px;
          height: 50px;
          font-size: 24px;
          line-height: 50px;
          margin: 5px;
        }

        @include xs-block {
          width: 44px;
          height: 44px;
          font-size: 20px;
          line-height: 44px;
          margin: 2px;
        }

        &.fb:hover {
          background-color: #3B5998;
        }

        &.vk:hover {
          background-color: #507299;
        }

        &.ok:hover {
          background-color: #EE8208;
        }

        &.tw:hover {
          background-color: #1DA1F2;
        }

        &.in:hover {
          background-color: #C5327E;
        }

        &.gp:hover {
          background-color: #DB4437;
        }
      }
    }
  }

  &__bottom {
    margin-top: 20px;
    border-top: 2px solid #999;
    padding: 15px;
    display: flex;
    justify-content: space-between;

    @include sm-block {
      flex-direction: column;
      align-items: center;
    }
  }

  &__payment {

    @include sm-block {
      margin-top: 15px;
    }

    img {
      display: inline-block;
      height: 20px;
      margin: 0 5px;

      @include sm-block {
        height: 16px;
      }

      @include xs-block {
        height: 12px;
      }
    }
  }
}