.header {
  //background-color: #EFF0F0;
  //padding-bottom: 15px;

  &__top {
    background-color: $myGray;

    > div {
      height: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include xs-block {
        justify-content: center;
      }
    }

    &-contacts {
      color: #aaa;
      display: flex;
      margin: 3px 0;

      @include xs-block {
        flex-basis: 100%;
        justify-content: space-around;
        font-size: 14px;
        margin-top: 2px;
        margin-bottom: 0;
      }

      > * {
        margin: 0 6px;
        display: flex;
        font-size: 15px;
        align-items: center;
        cursor: pointer;
        transition: all .5s ease;

        @include xs-block {
          margin: 0;
        }

        &:hover {
          color: #fff;

          span {
            transform: scale(1.2);

            @include xs-block {
              transform: scale(1);
            }
          }
        }

        span {
          display: inline-block;
          margin-right: 5px;
          transition: all .5s ease;

          @include xs-block {
            margin-right: 0;
            transform: scale(.7);
          }
        }
      }

      .phone {
        margin-right: 15px;

        @include xs-block {
          margin-right: 4px;
        }

        span {
          width: 22px;
          height: 30px;
          background: url(/img/phone_icon.png);
        }
      }

      .email {
        span {
          width: 30px;
          height: 20px;
          background: url(/img/email_icon.png);
        }
      }
    }

    .login-open {
      display: none;
      color: white;
      font-weight: 600;
      margin: 15px 6px 10px;
      cursor: pointer;
      transition: .15s all ease;

      &:hover {
        color: $myOrange;
      }

      @include md-block {
        display: block;
      }

      @include xs-block {
        margin-top: 0;
        margin-bottom: 5px;
      }

      &--show {
        color: $myOrange;
      }
    }

    .user-name {
      display: flex;
      align-items: center;
      margin: 5px 0;

      a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        margin: 0 6px;
        transition: .15s all ease;

        &:hover {
          color: $myOrange;
        }
      }

      .user-name-link {
        font-weight: 600;
      }
    }

    &-auth {
      display: block;
      margin: 5px 0;

      @include md-block {
        display: none;
        width: 100%;
        margin-bottom: 15px;
      }

      @include xs-block {
        margin-bottom: 10px;
      }

      form {
        height: 100%;
        display: flex;
        align-items: center;

        @include md-block {
          flex-basis: 100%;
          text-align: center;
          justify-content: center;
        }

        @include sm-block {
          flex-wrap: wrap;
        }
      }

      input {
        box-sizing: border-box;
        border: none;
        width: 150px;
        height: 26px;
        border-radius: 8px;
        padding: 5px;
        margin: 0 4px;
        line-height: 26px;
        outline: none;
        transition: .5s all ease;

        @include lg-block {
          width: 140px;
        }

        @include md-block {
          width: 40%;
        }

        @include sm-block {
          width: calc(50% - 12px);
        }

        &::placeholder {
          font-style: italic;
          color: #999;
        }

        &.submit {
          width: 70px;
          background-color: $myOrange;
          color: white;
          font-weight: bold;
          line-height: 14px;
          cursor: pointer;

          @include sm-block {
            margin-top: 10px;
            width: calc(50% - 12px);
          }
        }

        &[type=text],
        &[type=password] {
          -webkit-appearance: none;
        }

        &[type=checkbox] {
          width: auto;
        }
      }

      .remember {
        box-sizing: border-box;
        height: 24px;
        margin: 0 4px;

        @include md-block {
          min-width: max-content;
        }

        @include sm-block {
          width: calc(50% - 12px);
          margin-top: 10px;
        }

        span {
          vertical-align: top;
          line-height: 26px;
          color: white;
          display: none;

          @include md-block {
            display: inline;
          }
        }
      }

      .link_to_reg {
        @include md-block {
          min-width: max-content;
          margin-left: 30px;
        }

        span {
          color: white;
          margin: 0 4px;

          @include sm-block {
            margin: 5px 2px 0;
          }
        }

        a {
          text-decoration: none;
          color: $myOrange;
          font-weight: 600;
          margin: 0 4px;

          @include sm-block {
            margin: 5px 2px 0;
          }
        }
      }

      &--show {
        @include md-block {
          display: flex;
        }
      }
    }
  }

  > .wrapper {
    position: relative;
  }

  &__nav {
    min-height: 100px;
    padding: 5px;

    @include md-block {
      flex-wrap: wrap;
      justify-content: center;
    }

    &-logo {
      margin: 0 15px;
      text-align: center;

      @include md-block {
        flex-basis: 100%;
        order: -1;
        margin-bottom: 10px;

        a {
          display: inline-block;
        }

        img {

          @include xs-block {
            width: 140px;
          }
        }
      }
    }

    > ul {
      display: flex;
      justify-content: center;
      align-items: center;

      @include md-block {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
      }

      > li {
        position: relative;
        border: 1px solid #000;
        border-radius: 15px;
        width: 140px;
        text-align: center;
        line-height: 28px;
        box-sizing: border-box;
        margin: 0 15px;

        @include lg-block {
          margin: 0 10px;
        }

        @include sm-block {
          display: none;
        }

        ul {
          position: absolute;
          top: 100%;
          margin-top: 5px;
          display: flex;
          flex-direction: column;
          z-index: 1;

          li {
            width: 140px;
            border-radius: 15px;
            box-sizing: border-box;
            background-color: $myGray;
            margin: 5px 0;

            a {
              color: white;
              font-weight: 400;
            }
          }
        }
      }
    }

    ul {
      li {
        a {
          display: block;
          height: 100%;
          width: 100%;
        }

        a,
        button {
          background: none;
          border: none;
          outline: none;
          padding: 0;
          margin: 0;
          font-size: 17px;
          font-weight: 500;
          text-decoration: none;
          color: #000;
          transition: .15s all ease;
          cursor: pointer;
        }

        &:hover,
        &.link-active {
          border-color: $myOrange;

          > a,
          > button {
            color: $myOrange;
          }
        }
      }
    }
  }

  &__nav-hidden {
    display: none;
    position: absolute;
    top: 35px;
    left: 35px;

    @include sm-block {
      display: block;
    }

    @include xs-block {
      left: 15px;
    }

    button {
      background: none;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;

      &.nav-open-btn {
        font-size: 35px;
        color: $myGray;
        cursor: pointer;
      }

      &.nav-close-btn {
        display: none;
        position: fixed;
        width: 220px;
        top: 40px;
        left: -220px;
        z-index: 101;
        text-align: center;
        transition: .5s all ease;

        @include sm-block {
          display: block;
        }

        &.show {
          left: 0;
        }

        i {
          font-size: 26px;
          transition: .15s all ease;
          color: $myGray;

          &:hover {
            color: $myOrange;
          }
        }
      }
    }

    .side-nav {
      display: none;
      position: fixed;
      top: 0;
      left: -220px;
      width: 220px;
      min-height: 100vh;
      background-color: #191919;
      z-index: 100;
      transition: .5s all ease;

      @include sm-block {
        display: block;
      }

      &.show {
        left: 0;
      }

      > ul {
        position: sticky;
        top: 0;
        margin-top: 80px;
        height: calc(100vh - 80px);
        overflow-y: scroll;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        &::-webkit-scrollbar {
          width: 0;
        }
      }

      ul {
        display: flex;
        flex-direction: column;

        li {
          margin: 0 0 0 22px;

          a,
          button {
            display: block;
            text-decoration: none;
            margin: 8px 0;
            color: white;
            font-size: 16px;
            text-transform: uppercase;
            transition: .15s all ease;

            &:hover,
            &.link-active {
              color: $myOrange;
            }
          }

          button {
            background: none;
            border: none;
            outline: none;
            padding: 0;
            cursor: pointer;

            span {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }

  .cart-btn {
    position: absolute;
    display: block;
    right: 10px;
    top: 35px;

    @include md-block {
      top: 110px;
    }

    @include sm-block {
      right: 35px;
      top: 45px;
    }

    @include xs-block {
      right: 15px;
    }

    &__qty {
      position: absolute;
      color: white;
      left: 17px;
      top: 1px;
      width: 24px;
      height: 20px;
      border-radius: 10px;
      background-color: $myOrange;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
    }

    &__price {
      position: absolute;
      top: 35px;
      left: -23px;
      width: 70px;
      font-size: 13px;
      font-weight: 500;
      text-align: right;
      color: #000;
    }
  }
}

