section {
  padding: 50px 0;
  box-sizing: border-box;

  .h2 {
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    letter-spacing: 12px;

    @include md-block {
      font-size: 38px;
      letter-spacing: 7px;
    }

    @include sm-block {
      font-size: 36px;
      letter-spacing: 4px;
    }

    @include xs-block {
      font-size: 32px;
      letter-spacing: 0;
    }
  }
}

.cuisine,
.category,
.cooks {
  &__items {
    margin-top: 30px;

    &--flex {
      @include row-flex;
    }

    .item {
      text-align: center;
      cursor: pointer;

      &:hover {
        .image {
          .overlay {
            opacity: 1;
          }

          img {
            transform: scale(1.05);
          }
        }
      }

      &--flex {
        @include col;
        @include size(3);
        margin-bottom: 30px;

        @include md-block {
          @include size(4);
        }

        @include sm-block {
          //@include size(6);
        }

        @include xs-block {
          @include size(6);
        }
      }

      a {
        text-decoration: none;
        color: #000;
      }

      .image {
        box-sizing: border-box;
        border: 3px solid $myGray;
        overflow: hidden;
        position: relative;

        .overlay {
          background-color: rgba(255, 255, 255, .2);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: .3s all ease;

          p {
            padding: 8px 15px;
            background-color: rgba(30, 30, 30, .85);
            color: #fff;
            font-size: 15px;
            text-transform: uppercase;
          }
        }

        img {
          width: 100%;
          height: auto;
          vertical-align: bottom;
          transition: 5s transform ease;
        }
      }

      .title {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 3px;

        @include md-block {
          font-size: 17px;
          letter-spacing: 2px;
        }

        @include sm-block {
          font-size: 15px;
          letter-spacing: 0;
        }
      }
    }
  }

  .section__description {
    @include row-flex;
    margin-top: 60px;

    &-icon {
      @include col;
      @include size(5);
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 2px solid $myGray;
      text-align: center;
      padding: 10px;

      @include sm-block {
        @include size(12);
      }
    }

    &-text {
      @include col;
      @include size(7);
      text-align: center;
      padding: 10px 80px;
      border-top: 2px solid $myGray;
      font-size: 30px;

      @include md-block {
        font-size: 26px;
        padding: 10px 20px;
      }

      @include sm-block {
        @include size(12);
        font-size: 24px;
        border-top: none;
      }

      @include xs-block {
        @include size(12);
        font-size: 22px;
      }

      span {
        font-weight: 500;

        &.one {
          color: $myOrange;
        }
      }
    }
  }
}

.cuisine {
  &__items {
    .item {
      .image {
        img {
          @include sm-block {
            margin: -8% 0 -8% 0;
          }
        }
      }
    }
  }
}

.category {
  &__items {
    .item {
      .image {
        img {
          @include sm-block {
            margin: -20% 0 -20% 0;
          }
        }
      }
    }
  }

  .section__description {
    &-icon {
      order: 1;
      @include sm-block {
        order: 0;
      }
    }
  }
}

.cooks {
  &__items {
    @include row-flex;
    align-items: center;
    @include md-block {
      align-items: flex-start;
    }
  }

  &__item {
    @include col;
    @include size(2);

    @include md-block {
      @include size(3);
      margin-bottom: 20px;
    }

    @include sm-block {
      @include size(4);
      @include shift(1);
    }

    @include xs-block {
      @include size(6);
      @include shift(0);
    }

    &-img {

      img {
        width: 100%;
        height: auto;
        border: 2px solid $myOrange;
        border-radius: 50%;
        box-sizing: border-box;
      }
    }

    &-title {
      text-align: center;
      font-size: 24px;

      @include lg-block {
        font-size: 19px;
      }

      @include md-block {
        font-size: 20px;
      }

      span {
        display: block;
        font-style: italic;
        color: $myGray;
        font-size: 20px;

        @include lg-block {
          font-size: 16px;
        }

        @include md-block {
          font-size: 18px;
        }
      }
    }

    &--big {
      @include size(4);

      @include md-block {
        @include size(6);
        @include shift(3);
        order: -1;
      }

      @include sm-block {
        @include size(8);
        @include shift(2);
      }

      @include xs-block {
        @include size(10);
        @include shift(1);
      }
    }
  }
}