.user-content {
  margin: 30px 0;
  justify-content: center;
  @include row-flex;


  @include md-block {
    margin: 25px 0;
  }

  @include sm-block {
    margin: 20px 0;
  }

  .success {
    width: 100%;
    padding: 5px;
    margin: 0 5px;
    background-color: #9dffa1;
    text-align: center;
    height: max-content;
  }

  .item {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    @include col;
    @include size(6);

    @include md-block {
      @include size(8);
    }

    @include sm-block {
      @include size(10);
    }

    @include xs-block {
      @include size(12);
    }

    .alert {
      text-align: center;
      background-color: #ffc59a;
      padding: 10px;
    }

    .info {
      display: flex;
      flex-direction: column;
      background-color: #EFF0F0;
      height: 100%;

      &-title {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        background-color: #bbb;
      }

      &-row {
        padding: 3px 10px;

        span {
          display: inline-block;
          width: 50%;
          font-weight: 600;
          text-align: right;
          padding-right: 10px;
        }
      }

      &-order {
        padding: 3px 10px;
        display: flex;
        justify-content: center;

        a {
          margin-left: auto;
          text-decoration: none;
          font-style: italic;
          color: $myOrange;
          font-size: 15px;
          font-weight: 500;

          &:hover {
            color: #d1743d;
          }
        }
      }

      &-btn {
        margin-top: auto;
        border: none;
        outline: none;
        background-color: $myOrange;
        width: 100%;
        padding: 0;

        &:hover {
          background-color: #db4e34;
        }

        a {
          font-size: 14px;
          display: block;
          padding: 6px 20px;
          color: white;
          text-decoration: none;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }

    //a {
    //  text-decoration: none;
    //  color: $myOrange;
    //  font-weight: 600;
    //  font-size: 18px;
    //  margin: 0 6px;
    //  text-align: center;
    //
    //  @include sm-block {
    //    margin: 5px 2px 0;
    //    flex-grow: 5;
    //  }
    //}

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      label {
        box-sizing: border-box;
        min-width: 280px;
        width: 80%;
        padding: 5px;
        line-height: 26px;
      }

      input {
        box-sizing: border-box;
        min-width: 280px;
        width: 80%;
        border: 1px solid $myOrange;
        border-radius: 8px;
        padding: 5px;
        margin: 10px 0;
        line-height: 26px;
        outline: none;
        transition: .5s all ease;

        &::placeholder {
          font-style: italic;
          color: #999;
        }

        &.submit {
          background-color: $myOrange;
          padding: 10px;
          color: white;
          font-weight: bold;
          line-height: 14px;
          cursor: pointer;
          //margin-top: auto;
        }

        &[type=text] {
          -webkit-appearance: none;
        }

        &[type=checkbox] {
          display: inline;
          width: auto;
          min-width: unset;
        }
      }

      span {
        color: $myGray;
        margin: 0 6px;

        @include sm-block {
          flex-grow: 1;
          margin: 5px 2px 0;
        }
      }

      .error {
        background-color: #ffbd99;
        min-width: 280px;
        width: 80%;
        text-align: center;
        //margin: 0 0 5px 0;
        color: #620b1a;
        padding: 3px;
      }
    }
  }
}