.index {
  background: url(/img/rosemary.png) 25% 60% no-repeat,
  url(/img/tomato.png) right bottom no-repeat,
  url(/img/header-back.jpg);
  background-size: 258px 398px, 188px 285px, cover;

  @include lg-block {
    background-position: 15% 50%, right bottom;
  }

  @include md-block {
    background: url(/img/header-back.jpg) center;
    background-size: cover;
  }

  &__welcome {
    text-align: center;
    max-width: 600px;
    text-transform: uppercase;
    padding: 25% 0 20px 25%;
    margin: auto;

    @include lg-block {
      padding: 25% 0 20px 25%;
    }

    @include md-block {
      padding: 30% 0 20px;
    }

    @include sm-block {
      max-width: 510px;
      padding-top: 35%;
    }

    @include xs-block {
      padding-top: 50%;
    }

    > * {
      display: block;
    }

    &-1 {
      font-size: 20px;
      letter-spacing: 3px;

      @include sm-block {
        font-size: 18px;
      }

      @include xs-block {
        font-size: 4.5vw;
        letter-spacing: 2px;
      }
    }

    &-2 {
      font-size: 90px;
      font-weight: 100;
      letter-spacing: 24px;
      margin-bottom: 10px;

      @include sm-block {
        font-size: 80px;
        letter-spacing: 18px;
      }

      @include xs-block {
        font-size: 15vw;
        letter-spacing: 4px;
      }
    }

    &-3 {
      font-size: 18px;
      margin-bottom: 30px;
      letter-spacing: 4px;

      @include sm-block {
        font-size: 17px;
        letter-spacing: 3px;
      }

      @include xs-block {
        font-size: 4vw;
        letter-spacing: 2px;
      }
    }

    &-4 {
      font-size: 26px;
      letter-spacing: 5px;

      @include sm-block {
        font-size: 24px;
        letter-spacing: 4px;
      }

      @include xs-block {
        font-size: 5vw;
        letter-spacing: 2px;
      }
    }
  }
}