@import "smart-grid";
@import "variables";

@include reset();

html {
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  @include wrapper;
}

section {
  flex-grow: 1;
  display: flex;

  .admin_sidebar {
    z-index: 2;
    position: relative;
    min-width: 240px;
    background-color: #eee;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    transition: .5s all ease;

    @include md-block {
      position: fixed;
      top: 0;
      left: -240px;

      &.show {
        left: 0;
      }
    }

    .admin_sidebar__button {
      position: absolute;
      display: none;
      top: 15px;
      right: -54px;
      width: 44px;
      height: 44px;
      background-color: white;
      box-sizing: border-box;
      text-align: center;
      color: #555;
      font-size: 26px;
      line-height: 44px;
      cursor: pointer;

      @include md-block {
        display: block;
      }

      &:hover {
        color: #000;
      }

      .close {
        display: none;
      }
    }

    ul {
      position: sticky;
      top: 0;
      height: 100vh;
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      &::-webkit-scrollbar {
        width: 0;
      }

      li {
        border-radius: 3px;

        &.active,
        &:hover {
          background-color: #ddd;
          transition: .2s all ease;

          a {
            color: $myOrange;
          }
        }

        a {
          display: block;
          text-decoration: none;
          color: #000;
          font-weight: 600;
          padding: 10px 15px;
          transition: .2s all ease;

          @include sm-block {
            margin: 5px 2px 0;
          }

          &:hover {
            color: $myOrange;
          }
        }
      }
    }
  }

  .main {
    position: relative;
    flex-grow: 1;

    header {
      z-index: 1;
      position: sticky;
      top: 0;
      border-bottom: 2px solid #ddd;
      background-color: white;
      padding: 15px;
      box-sizing: border-box;

      .top {
        display: flex;
        align-items: baseline;
        margin-bottom: 25px;

        h1 {
          font-size: 30px;
          font-weight: 600;
          flex-grow: 1;

          @include md-block {
            margin-left: 46px;
          }

          span {
            color: $myOrange;
          }
        }

        a {
          text-decoration: none;
          color: $myGray;
          font-weight: 600;
          margin-left: 15px;
          transition: .2s all ease;

          &:hover {
            color: $myOrange;
          }
        }
      }

      .bottom {
        display: flex;
        align-items: baseline;

        .breadcrumb {
          flex-grow: 1;
          display: flex;
          margin: 0;
          padding: 0;

          &-item {
            list-style: none;

            &::after {
              padding: 0 10px;
              content: '>';
            }

            a {
              text-decoration: none;
              color: $myGray;
              transition: .2s all ease;

              &:hover {
                color: $myOrange;
              }
            }

            &.active {
              color: $myOrange;

              &::after {
                padding: 0;
                content: none;
              }
            }
          }
        }

        .add,
        .delete {
          display: block;
          padding: 4px 8px;
          color: $myGray;
          border: 1px solid #999;
          border-radius: 4px;
          text-decoration: none;
          transition: .2s all ease;

          &:hover {
            color: $myOrange;
            border: 1px solid $myOrange;
          }
        }

        .add::before {
          font-family: FontAwesome;
          content: '\f067 ';
        }

        .delete::before {
          font-family: FontAwesome;
          content: '\f1f8 ';
        }
      }
    }

    .content {
      padding: 15px;

      .success {
        width: 100%;
        padding: 5px;
        background-color: #9dffa1;
        text-align: center;
        margin-bottom: 15px;
      };

      .error {
        width: 100%;
        padding: 5px;
        text-align: center;
        background-color: #ffbd99;
        margin: 0 0 5px 0;
        color: #620b1a;
      }

      //Главная
      .info-items {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        .info-item {
          background-color: #eee;
          box-sizing: border-box;
          border: 1px solid #888;
          border-radius: 6px;
          margin-bottom: 20px;
          padding: 5px;
          display: flex;
          flex-direction: column;
          transition: .3s all ease;
          cursor: pointer;
          @include col;
          @include size(3);

          @include lg-block {
            @include size(4);
          }

          @include sm-block {
            @include size(6);
          }

          &:hover {
            border-color: $myOrange;

            .info {
              color: $myOrange;
            }
          }

          .title {
            color: #000;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;

            @include md-block {
              font-size: 15px;
            }
          }

          .info {
            margin-top: auto;
            text-align: center;
            font-weight: 700;
            font-size: 90px;
            color: #888;
            transition: .3s all ease;

            @include md-block {
              font-size: 70px;
            }

            .active {
              color: #7dd185;
            }

            .inactive {
              color: #f18a65;
            }
          }

          a {
            text-decoration: none;
            font-size: 600px;
          }
        }
      }

      // Таблицы
      table {
        width: 100%;
        font-size: 14px;
        margin: 0 auto;
        border: 1px solid #ccc;

        th,
        td {
          border-right: 1px solid #ccc;
          padding: 6px;

          &.small {
            text-align: center;
            width: 60px;
            box-sizing: border-box;
          }
        }

        th {
          background-color: #ddd;
          font-weight: 600;
          text-align: center;
        }

        tr:nth-child(2n+1) {
          background-color: #eee;
        }

        tr.active {
          background-color: #9dffa1;
          border: 1px solid #ccc;
        }

        a {
          text-decoration: none;
          color: $myOrange;
          font-weight: 600;
          font-size: 18px;
          transition: .2s all ease;
        }
      }

      // Формы
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .group {
          display: flex;
          align-items: baseline;

          @include sm-block {
            flex-wrap: wrap;
          }
        }

        label {
          min-width: 150px;
          font-weight: 600;
          text-align: right;
          padding: 0 10px;
          box-sizing: border-box;

          @include sm-block {
            width: 100%;
            padding: 0;
            text-align: left;
          }
        }

        input,
        textarea,
        select {
          box-sizing: border-box;
          border: 1px solid #bbb;
          margin: 10px 0 20px;
          padding: 5px;
          flex-grow: 1;
          line-height: 26px;
          outline: none;
          transition: .5s all ease;
          resize: none;

          &::placeholder {
            font-style: italic;
            color: #999;
          }

          &[type=text] {
            -webkit-appearance: none;
          }

          &:focus {
            border: 1px solid $myOrange;
          }

          &.small {
            max-width: 60px;
          }

          &.submit {
            background-color: $myOrange;
            border: none;
            padding: 10px;
            color: white;
            font-weight: bold;
            line-height: 14px;
            cursor: pointer;
            margin-top: auto;
          }
        }

        #cke_ckeditor {
          flex-grow: 1;
          margin: 10px 0 20px;
          border-color: #bbb;
        }

        img {
          display: block;
          margin: 0 auto;
          max-width: 380px;
          width: 100%;
          border: 1px solid #bbb;
          border-radius: 8px;
        }

        .error {
          background-color: #ffbd99;
          width: 100%;
          text-align: center;
          margin: 0 0 5px 0;
          color: #620b1a;
        }
      }

      // Меню list
      .menu-list {
        font-size: 15px;
        max-width: 800px;
        margin: 0 auto;

        ul {
          margin-left: 15px;
        }

        li {
          margin: 5px;
          border: 1px solid #999;
          padding: 2px 5px;

          .info {
            display: flex;
            align-items: center;

            .buttons {
              margin-left: auto;
              display: flex;
              align-items: center;

              a {
                text-decoration: none;
                font-size: 20px;
                color: $myGray;
                margin: 0 10px;

                &:hover {
                  color: $myOrange;
                }

                &.not-active {
                  pointer-events: none;
                  cursor: default;
                  text-decoration:none;
                  color: #bbb;
                }
              }

              .move {
                display: flex;
                flex-direction: column;

                a {
                  font-size: 13px;
                }
              }
            }
          }

          span {
            font-weight: 600;
            margin-right: 10px;
          }
        }
      }

      .overlay {
        padding: 0 20px;
        box-sizing: border-box;

        &.hide {
          display: none;
        }

        &.show {
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          z-index: 4;
          background-color: rgba(0,0,0, .8);

          & .add-nav-item {
            position: fixed;
            top: 150px;
            left: 10%;
            width: 80%;
            z-index: 5;
            padding: 10px 0;
            background-color: white;

            @include md-block {
              margin-left: 5%;
              left: 0;
              width: 90%;
            }

            & .close-btn {
              display: block;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              outline: none;
              border: 1px solid $myGray;
              color: $myGray;
              background-color: white;
              cursor: pointer;

              &:hover {
                border-color: $myOrange;
                color: $myOrange;
              }
            }
          }
        }
      }

      .add-nav-item {
        margin: 30px 5px 5px;
        @include row-flex;
        border: 1px solid #999;

        .close-btn {
          display: none;
          position: absolute;
          top: -15px;
          left: -15px;
        }

        .buttons {
          display: flex;
          flex-direction: column;
          @include col;
          @include size(4);

          @include md-block {
            @include size(12);
            margin-bottom: 20px;
          }

          button {
            padding: 0;
            margin: 10px 0 20px;
            border: 1px solid #aaa;
            color: #aaa;
            box-sizing: border-box;
            outline: none;
            cursor: pointer;

            @include md-block {
              margin-bottom: 0;
            }

            &.active {
              border-color: #000;
              color: #000;
              font-weight: 600;
            }

            label {
              padding: 10px 20px;
              display: block;
              box-sizing: border-box;
              cursor: pointer;
            }
          }
        }

        form {
          justify-content: space-between;
          @include col;
          @include size(8);

          @include md-block {
            @include size(12);
          }

          .group {
            &.url,
            &.page,
            &.submenu {
              display: none;

              &.active {
                display: flex;
              }
            }

            label {
              min-width: 180px;
              font-weight: 600;
              text-align: right;
              padding: 0 10px;
              box-sizing: border-box;

              @include sm-block {
                width: 100%;
                padding: 0;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}
