@import "smart-grid";

@import "variables";

@include reset();

@import "header";
@import "welcome";
@import "sections";
@import "dish";
@import "cart";
@import "footer";
@import "auth";
@import "user";


html,
body,
button {
	font-family: "Segoe UI", sans-serif;
}

.debug {
	display: none;
	@include debug(rgba(0, 0, 0, 0.3), 0);
}

.wrapper {
	@include wrapper;
}

.side-lines {
	overflow: hidden;

	&::before,
	&::after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		border: 1px solid $myGray;
		width: 100%;
		box-sizing: border-box;
	}
	&::before {
		margin-left: -100%;
		margin-right: 20px;
	}

	&::after {
		margin-right: -100%;
		margin-left: 20px;
	}
}